fastapi
uvicorn[standard]
python-dotenv
python-multipart
sqlalchemy
psycopg[binary]
pgvector
openai
datasets
beir
FlagEmbedding==1.4.0
transformers>=4.44,<5
tiktoken
spacy>=3.8,<3.9
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl